@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.header-banner {
  background-image: url("../public/assets/images/bannerbackground.jpg");
  height: 350px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  background-image: url("../public/assets/images/bannerbackground.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* RecipeCard.css */
.recipe-card-shimmer {
  animation: shimmer 0.1s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }

  100% {
    background-position: 200px 0;
  }
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
